@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');
body {
  font-family: 'Open Sans', sans-serif;
}
.container {
  position: relative;
  width: 300px;
  border: 1px solid;
  padding: 1%;
  margin: auto;
  border-radius: 8px;
}
